<div class="center-block mt50 mw800">
	<h1 class="error-title">500!</h1>
	<h2 class="error-subtitle">
		Internal Server Error.<br/>
		Please try again.
	</h2>
</div>
<a href="/admin/users/dashboard" id="return-arrow">
	<i class="fa fa-arrow-left fa-3x text-primary"></i> <span class="pt10"> Return to Home </span>
</a>
