<!-- Start: Topbar -->
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-icon">
                <a class="ajax_link" href="/admin/dashboard">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-link">
                <a class="ajax_link" href="/admin/users/list/admins">Admins</a>
            </li>
            <li class="crumb-trail">Add Admin</li>
        </ol>
    </div>
</header>
<section id="content" class="table-layout">
    <!-- End: Topbar -->
    <div class="tray tray-center">
        <div class="panel panel-primary">
            <div class="panel-heading">Add New Admin</div>
            <form enctype="multipart/form-data" id="add_user_form" class="admin-form add_user_form" action=""
                method="post" novalidate="novalidate">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="section">
                                        <label class="field-label" for="first_name">First Name</label>
                                        <label class="field prepend-icon">
                                            <input type="text" placeholder="Enter first name" class="gui-input"
                                                name="first_name">
                                            <label class="field-icon" for="first_name">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section">
                                        <label class="field-label" for="last_name">Last Name</label>
                                        <label class="field prepend-icon">
                                            <input type="text" placeholder="Enter last name" class="gui-input"
                                                name="last_name">
                                            <label class="field-icon" for="last_name">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="section">
                                        <label class="field-label" for="email">Email</label>
                                        <label class="field prepend-icon">
                                            <input type="email" placeholder="Enter email" id="user_email"
                                                class="gui-input" name="email">
                                            <label class="field-icon" for="email">
                                                <i class="fa fa-envelope"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section">
                                        <label class="field-label" for="mobile">Phone Number</label>
                                        <label class="field prepend-icon">
                                            <input type="text" placeholder="Enter number e.g. 9995252525"
                                                class="gui-input" name="mobile">
                                            <label class="field-icon" for="mobile">
                                                <i class="fa fa-mobile"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row text-center">
                                <label class="field-label">Profile Picture</label>
                                <img alt="..." src="/images/user.png" id="user_image_upload_preview" width="160"
                                    height="160" class="media-object mw150">
                                <label class="field prepend-icon append-button file mt15">
                                    <span class="button">Choose File</span>
                                    <input type="file" class="gui-file" name="user_image" accept="image/jpeg,image/png"
                                        id="user_profile_image"
                                        onChange="document.getElementById('uploader1').value = this.value;">
                                    <input type="text" class="gui-input" id="uploader1"
                                        placeholder="Please Select A File">
                                    <label class="field-icon">
                                        <i class="fa fa-upload"></i>
                                    </label>
                                </label>
                                <label>File size must be less than 2Mb.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="ladda-button button btn-primary" data-style="zoom-in" id="user-form-submit-btn"
                        type="submit"> Submit </button>
                </div>
            </form>

        </div>
    </div>
</section>

<!--call page wise JS-->
<script type="text/javascript">
    var from = '{{from}}';
    $(document).ready(function () {
        new UserEventHandler();
    });
</script>