<!-- Start: Topbar -->
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-icon">
                <a class="ajax_link" href="/admin/dashboard">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Change Password</li>
        </ol>
    </div>
</header>
<section id="content" class="table-layout">
    <!-- End: Topbar -->
    <div class="tray tray-center">
        <div class="theme-primary">
            <div class="panel heading-border panel-primary">
                <div class="panel-heading">Change Login Password</div>
                <form id="change-password-form" action="" method="post" novalidate="novalidate" class="admin-form">

                    <div class="panel-body bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section">
                                    <label class="field-label" for="old_password">Current Password</label>
                                    <label class="field">
                                        <input type="password" placeholder="Enter current password" class="gui-input" name="old_password">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="section">
                                    <label class="field-label" for="password">New Password</label>
                                    <label class="field">
                                        <input type="password" placeholder="Enter new password" id="password" class="gui-input" name="password">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="section">
                                    <label class="field-label" for="confirm_password">Confirm Password</label>
                                    <label class="field">
                                        <input type="password" placeholder="Enter confirm password" class="gui-input" name="confirm_password">
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <button class="ladda-button button btn-primary" data-style="zoom-in" id="change-password-submit-btn" type="submit"> Change Password </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--call page wise JS-->
<script type="text/javascript">
    $(document).ready(function () {
        new UserEventHandler();
    });
</script>